/**
Ver 1.0.1
Draise
24 July 2018
**/

/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

/*Ocre Orange*/
/* bc320a */

/*Yello2*/
/* ffcd00 */




$palettes: (
    action: (
        link: #65787a
    ),
    button: (
        background: #bc320a, /*Ocre Orange*/
        background--highlight: #ffcd00, /**/
        background--hover: darken(#bc320a, 10%),
        background--danger: #f10,
        background--danger-hover: darken(#f10, 10%),
        background--highlight-hover: darken(#f5f5f3, 10%),
        color: #fff,
        color--highlight: #f5f5f3,
    ),
    error: (
        color: #f10,
        text-color: #333,
        text-color--invert: #fff
    ),
    badge: (
        background--success: #76d443,
        background--error: #f10,
        background--warn: #ffcd00,
        text--success: #333,
        text--error: #fff,
        text--warn: #333
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #ffcd00,
        background--confirm: #ff8f29,
        border: #333,
        color: #333,
        color--invert: #fff
    ),
    footer: (
        background: #bc320a,
        color: #ffcd00,
        color--highlight: #ffb662
    ),
    form: (
        background: #fff,
        border: #eee,
        border--focus: #333,
        color: #bc320a,
        color--highlight: #333,
        label-color: #65787a
    ),
    header: (
        background: #ff7900,
        background--highlight: #111,
        color: #fff,
        label-color: #65787a
    ),
    layout: (
        background: #fff,
        border: #eee,
        close-color: #fff,
        color: #65787a,
        content-background: #f6eacfff,
        content-border: #bbb,
        loading-color: #333
    ),
    loader: (
        background: #ff8f29,
        background--highlight: #ffcd00
    ),
    product: (
        background: #f6eacfff,
        border: #eee,
        color--error: #f10,
        color--highlight: #333
    ),
    quantity-trigger: (
        background: #ccc,
        background--hover: #ffcd00,
        background--disabled: #eee,
        color: #111,
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f6eacfff,
        border: #eee,
        color--highlight: #333,
        color--link: #65787a
    ),
    step: (
        background: #ccc,
        background--active: #fff,
        border: #bbb,
        color: #65787a,
        color--active: #333
    ),
    table: (
        background--highlight: #f6eacfff,
        border: #eee,
        color--highlight: #333,
        color--success: #76d443
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #bc320a,
        text: #111
    )
);
